<mat-toolbar color="primary" class="toolbar">
  <span class="spacer"></span>
  <span class="title">User Management</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-card class="hero-card mat-elevation-z6" style="margin-top: 20px">
  <button
    mat-raised-button
    class="usersButton"
    color="accent"
    routerLink="/users"
  >
    Go to Users
  </button>
</mat-card>
<mat-card class="hero-card mat-elevation-z6" style="margin-top: 20px">
  <button
    mat-raised-button
    class="rolesButton"
    color="accent"
    routerLink="/roles"
  >
    Go to Roles
  </button>
</mat-card>

<h1>Welcome to the Admin Dashboard</h1>
<p>Manage your users with ease using the User Management Module.</p>
